.home {
  height: 100vh;
  background: #fff;
}
.home main {
  height: calc(100% - 64px);
  position: relative;
}
.home main .left {
  position: absolute;
  height: 100%;
  width: 200px;
  left: 0;
  top: 0;
}
.home main .left > div {
  overflow: auto;
}
.home main .left > div:first-child {
  border-bottom: 1px solid #ddd;
}
.home main .right {
  position: absolute;
  height: 100%;
  width: 288px;
  right: 0;
  top: 0;
  padding: 0 10px;
}
.home main .center {
  margin-left: 200px;
  margin-right: 288px;
  background: #f5f5f5;
  height: 100%;
  overflow: auto;
  padding: 20px;
}
.home main .center .content {
  width: 100%;
  height: 100%;
  overflow: auto;
}
